
@font-face {
    font-family: 'darwin';
    src: url(mensch.ttf);
}

* :focus {
    outline: none;
}

* {
    font-family: 'darwin';
}

body {
    min-width: 600px;
    max-width: 1600px;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

#container_one {
    position: static;
    z-index: 1100;
    text-align: center;
    background-image: url("patio.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    min-height: 680px;
}

#logo {
    color: antiquewhite;
    opacity: 0.85;
    width: 60%;
    position: absolute;
    top: 40%;
    margin-left: 20%;
    font-size: 8em;
}

#arrow {
    position: absolute;
    opacity: .4;
    top: 600px;
    left: 49%;
    height: 30px;
}

#arrow:hover {
    cursor: pointer;
    color: #829f42;
    transition: background-color 0.2s ease-in,
                color 0.2s ease-out;
}

/* main nav start */

#origincontainer {
    max-width: 1600px;
    margin: auto;
    background-color: none;
    width: 100%;
    z-index: 1100;
    position: absolute;
}

#navbarorigin {
    margin: auto;
    padding-top: 2%;
    padding-bottom: 1%;
}


.navlink {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 1em;
    color: antiquewhite;
    align-content: center;
    
}

#navbar {
    margin: auto;
} 

a {
    margin: 10px;
    text-decoration: none;
    font-size: 1.1em;
    background-color: transparent;
    transition: background 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a:hover {
    cursor: pointer;
    color: #829f42;
    transition: border-color 0.2s, background-color 0.2s ease-in, font-color 0.1s ease-in 0.2 ease-out;
}

/* main nav end */

/* sticky nav start */
#menusticky {
    visibility: hidden;
    z-index: 1000;
    margin: auto;
    width: 100%;
    background-color: #131315;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.0em;
    position: fixed;
}

/* sticky nav end */


#about {
    color: #131315;
    width: 100%;
    min-height: 220px;
    margin: auto;
    justify-content: space-around;
    top: 0;
    width: 70%;
}

#about {
    font-size: 1.em !important;
    width: 60%;
    margin-bottom: 200px;
}

#mappic {
    padding-top: 5%;
    margin: auto;
    width: 50%;
}

#container-two {
    background-color: aqua;
}

#about_info {
    margin-top: 60%;
    margin: auto;
    width: 70%;
}

#detail {
    font-size: 1.2em;
    padding-top: 4%;
    text-align: center;
    width: 100%;
}

#address tr {
    text-align: center;
    margin-top: 0%;
}

#carouselcontainer {
    padding-bottom: 20px;
    height: 100%;
    background-color: ;
}


#container_three {
    background-color: ;
    height: 1000px;
}

footer {
    background-color: white;
    height: 150px;
}

#aboutanchor {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

#carouselanchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}

#menuanchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/* menu tabs */

.container{
            max-width: 1000px;
            font-size: 1.2em;
			width: 70%;
            padding-top: 10%;
			margin: 0 auto;
		}

		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
            font-size: 1.0em;
			background-color: white;
			color: black;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

ul.tabs li:hover {
   /*
    cursor: pointer; */
    color: #131315;
    transition: background-color 0.1s ease-in,
                color 0.0s ease-out;
            
}

.tab-link {
    transition: background 0.5s ease-out;
    transition: color 0.5s ease-out;
            
}

		ul.tabs li.current{
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
			background-color: white;
			color: #B24333;
		}

		.tab-content{
            margin-top: -5px;
            border-radius: 5px;
			display: none;
			background-color: white;
			padding: 15px;
            box-shadow: 2px 2px 2px darkgrey;
            margin-bottom: 20px;
            font-size: 0.8em;
		}

		.tab-content.current{
			display: inherit;
		}

.menurow {
    color: black;
}

.menurow td {
    vertical-align: baseline;
    width: 100%;
}

th {
    color: #829f42;
    font-size: 1.4em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.menunotes {
    text-align: center;
    color: orangered;
    font-size: 0.8em;
}

/* end menu formatting */

.slide {
    margin-bottom: 2%;
    width: 100%;
    height: 30%;
    box-shadow: 2px 2px 2px black;
}

.slick-prev {
    z-index: 1;
    left: 4% !important;
    background-color: none  !important; /*to notice it, is white*/
}
.slick-next {
    z-index: 1;
    right: 4% !important;
    background-color: none;  !important; /*to notice it, is white*/
}

